// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.holder {
  margin: 30px;
}

body {
  font-family: sans-serif;
}

.tasks {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none  !important;
  color: black !important;
  margin-left: 2px;
  padding: 8px, 16px;
  background: blue;
}

.checkbox {
  background-color: white;
  color: black;
}
